<?xml version="1.0" encoding="UTF-8"?>
	<menus code=""  name="驱动力">
		<menu code="ZhuDongLiuShiLv" name="主动流失率" url="accordDismiss/toAccordDismissView" icon=""   mobile="false" relies="">
			<fields>
				<field code="dd" name="流失时间" />
			</fields>
			<layouts>
				<layout code="xxxx" name="查看模块"  relies="" img="我是图片">
					<plug-in code="xxxx" name="查看模块"/>
				</layout>
			</layouts>
		</menu>
	</menus>