<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	
	 <!-- 容器启动初始化数据servlet -->
	  <servlet>
	    <description></description>
	    <display-name>InitDataServlet</display-name>
	    <servlet-name>InitDataServlet</servlet-name>
	    <servlet-class>net.chinahrd.timer.InitDataServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>InitDataServlet</servlet-name>
	    <url-pattern>/</url-pattern>
	  </servlet-mapping>
	
</web-app>