.human-inventory {
    position: relative;
    padding-left: 130px;
    font-size: 14px;
    color: #777777;
}
.ct-dissmiss .column{
    padding: 2px!important;
}

#page-one{display: block;}
#page-two{display: none;}
#page-three{display: none;}
.leftListSet,.LSLSetUp{
    cursor: pointer;
}
.text-date{
    margin-left: 5px;
    color: #999;
}
.noData{margin-top: 50px; font-size: 12px; color: #999; text-align: center;}

/*页面通用样式 begin*/
.human-inventory .index-common-title{position: relative;width: 100%;height: 34px;}
.human-inventory .index-common-title-left{position: absolute;top: 10px;left: 8px;background-color: #88b7e0;width: 2px;height: 15px;}
.human-inventory .index-common-title-text{position: absolute;top: 6px;left: 20px;color: #444;}
.human-inventory .index-common-title-center{position: absolute;left: 150px;top:-4px;}
.human-inventory .index-common-title-center .title-center-text{display: inline-block;border:1px solid #e0e0e0;margin-right: 35px;}
.human-inventory .index-common-title-center .title-center-text span:first-child{display: inline-block;color: #333;margin:0 12px;}
.human-inventory .index-common-title-center .title-center-text span:nth-child(2){background-color: #999;color: #fff;padding: 4px 0 4px 15px;font-size: 18px;}
.human-inventory .index-common-title-center .title-center-text small{background-color: #999;color: #fff;padding: 9px 10px 5px 5px;font-size: 12px;}
.human-inventory .index-common-title-right{  float: right; margin: 6px 6px 0px 0px;}
.human-inventory .index-common-title-right span{padding: 1px 5px; border-radius: 5px; cursor:pointer;}
.human-inventory .index-common-title-right span.select{ background: #009EDD; color: #fff; cursor:default;}


.human-inventory .rightBody{
    width: 100%;
    background-color: #fff;
    padding: 5px;
}

.human-inventory .top-div{
    height: 160px;
    width: 100%;
    border: 1px solid #e0e0e0;
}
.human-inventory .bottom-div{
    width: 100%;
    height: 385px;
    border: 1px solid #e0e0e0;
}
.human-inventory .bottom-div >.chart-view .col-xs-12:nth-child(2){
    height: 350px;
}
.human-inventory .bottom-div >.table-view .col-xs-12:nth-child(2){
    height: 350px;
}
.human-inventory .bottom-div .bottom-div-first{
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.human-inventory .bottom-div .bottom-div-first span{
    color: #999;
    margin-left: 10px;
}
.human-inventory .bottom-div .bottom-div-first h5{
    display: inline-block;
}
.human-inventory .bottom-div .bottom-div-right{
    position: absolute;
    right: 30px;
    top: 10px;

}
.human-inventory .bottom-div .bottom-div-right>div{
    display: inline-block;
    background-color: rgb(242,242,242);
    color: rgb(102,102,102);
    padding: 4px 8px;
    margin:0 -2px;
    cursor: pointer;
}
.human-inventory .bottom-div .bottom-div-right>div.select{
    background-color: rgb(211,211,211);
    color: rgb(51,51,51);
}
.human-inventory .bottom-div .bottom-div-first a{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.human-inventory .bottom-div .bottom-div-second{
    color: #999;
    margin-left: 10px;
}
/*页面通用样式 begin*/

/*表格样式 begin*/

/*表格样式 end*/

/*左边导航 begin*/
.human-inventory .leftBody{
    position: absolute;
    width: 130px;
    left: 0px;
    top: 0px;
}
.human-inventory .leftListBigDiv{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent : 14px;
    font-weight: bold;
}
.human-inventory .leftListSet{
    background-image: url("../../../img/index/setUp.png");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 17px;
}
.human-inventory .leftListDiv{
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-indent : 14px;
}
.human-inventory .selectList{
    background-color: #fff;
    cursor: default;
}
/*左边导航 end*/

.human-inventory .LSLSetUp{
    background-image: url("../../../img/index/setUp.png");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 10px;
}

/*table chart 切换 的 top 通用样式 begin*/
.human-inventory .bottom-title{
    height: 30px;
}
.human-inventory .bottom-left{
    top: 4px;
}
.human-inventory .bottom-text{
    top: 0px;
}
.human-inventory .rightSetUpBtn{
    position: absolute;
    right: 0px;
    top: 1px;
    background-color: #fafafa;
    cursor: pointer;
}
.human-inventory .rightSetUpBtnDiv{
    position: relative;
    float: left;
    height: 30px;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align:center;
}
.human-inventory .rightSetUpRight{
    margin-left: -1px;
}
.human-inventory .rightSetUpBtnSelect{
    border-bottom: 0px;
    cursor: default;
    background-color: #fff;
}
.human-inventory .rightSetUpBtnTop{
    display: none;
}
.human-inventory .rightSetUpBtnSelect .rightSetUpBtnTop{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #009edd;
}

.human-inventory .rightSetUpBtnDiv .text{
    margin-top: 4px;
}
.human-inventory .rightSetUpBtnSelect .text{
    margin-top: 2px !important;
}
.rightSetUpLeftShowIcon{
    display: none;
    position: absolute;
    background-image: url("../../../img/index/right-btn-show1.png");
    width: 18px;
    height: 11px;
    left: 7px;
    top: 10px;
}
.rightSetUpRightShowIcon{
    display: none;
    position: absolute;
    background-image: url("../../../img/index/right-btn-show2.png");
    width: 13px;
    height: 11px;
    left: 9px;
    top: 9px;
}
.rightSetUpLeftHideIcon{
    display: block;
    position: absolute;
    background-image: url("../../../img/index/right-btn-hide1.png");
    width: 18px;
    height: 11px;
    left: 7px;
    top: 10px;
}
.rightSetUpRightHideIcon{
    display: block;
    position: absolute;
    background-image: url("../../../img/index/right-btn-hide2.png");
    width: 13px;
    height: 11px;
    left: 9px;
    top: 9px;
}
.rightSetUpBtnSelect .rightSetUpLeftShowIcon{display: block;}
.rightSetUpBtnSelect .rightSetUpLeftHideIcon{display: none;}
.rightSetUpBtnSelect .rightSetUpRightShowIcon{display: block;}
.rightSetUpBtnSelect .rightSetUpRightHideIcon{display: none;}
/*table chart 切换 的 top 通用样式 begin*/

.human-inventory .bottom-div2 {
    border-top: 0px;
    height: 800px;
}
.human-inventory .index-jxmb-tab {
    position: relative;
    font-size: 12px;
    height: 34px;
    width: 100%;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.human-inventory .index-jxmb-btn {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 90px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    float: left;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

.human-inventory .index-jxmb-btn-select {
    border-top: 2px solid #009edd;
    border-bottom: #ffffff;
    background: #ffffff;
    line-height: 30px;
    cursor: default;
}

.human-inventory .index-proj-btn {
	margin: 20px auto;
	border: 1px solid #e0e0e0;
    width: 120px;
    height: 28px;
    line-height: 26px;
   	text-align: center;
    /*float: left;*/
    cursor: pointer;
    background-color: #fafafa;
}

.human-inventory .index-proj-btn-select {
    background: #D3D3D3;
    line-height: 25px;
    cursor: default;
}

.human-inventory .tab-content{
    min-height: 350px;
}

.position-relative{
	margin-top: 15px;
}

.manpowerInput-line{
	width: 800px;
    height: 300px;
}

.inputOutputRatioChart-line{
	width: 800px;
    height: 300px;
}

.inputOutputFeeChart-line{
	width: 800px;
	height: 300px;
}

.piepanel{
	overflow: auto;
	height: 300px;
}
#currentEmployeeDeailTable{
	width : 850px;
}
#currentEmployeeTable{
	width : 850px;
}
#participatejProjectTable{
	width : 850px;
}
#formalErrorTable{
	width : 100%;
}
#updateAndDeleteTipsTable{
	width : 100%;
}

/*第一行的数据块 begin*/
.human-inventory .accord-yj-float{width: 150px;height: 62px;margin: 14px auto 0;text-align: center;}
.human-inventory .accord-yj-float-value {
    font-size: 40px;
    color: #666666;
}
.human-inventory .accord-yj-float-people {
    position: absolute;
    top: 92px;
    color: #777777;
    font-size: 12px;
}
.human-inventory .accord-bottom-float{
    position: relative;
    width: 150px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #777777;
}
.human-inventory .accord-bottom-float div{
    margin-left: 2px;
    margin-right: 2px;
}
.human-inventory .accord-bottom-float-text{
    display: inline-block;
}
.human-inventory .accord-bottom-float-value{
    display: inline-block;
    font-size: 18px;
}
.human-inventory .accord-bottom-float-value-rise{
    color: #d3521a;
}
.human-inventory .accord-bottom-float-value-drop{
    color: #6fb12d;
}
.human-inventory .accord-bottom-float-people{
    display: inline-block;
}
.human-inventory .accord-bottom-float-arrow{
    width: 12px;
    height: 15px;
    display: inline-block;
}
.human-inventory .accord-bottom-float-arrow-rise{
    background-image: url("../../../img/index/arrow1.png");
}
.human-inventory .accord-bottom-float-arrow-drop{
    background-image: url("../../../img/index/arrow2.png");
}
/*第一行的数据块 end*/

.human-inventory .table-view{
    display: none;
}
.human-inventory .index-son-body{background-color: #ffffff;}
.human-inventory .index-son-middle{width: 100%;height: 350px;padding-left: 20px;padding-right: 20px;padding-bottom: 18px;}

.bottom-div-two > .row > div{
    height: 385px;
}
.bottom-div-two > .row > div:nth-child(2){
    border-left:1px solid #e0e0e0;
}
.bottom-div-two .row .bottom-div-first{
    color: #333;
}
.bottom-div-three{
    height: 960px !important;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.conditionBtn{
    cursor: pointer;
    position: absolute;
    top: -48px;
    left: 220px;
    font-size: 12px;
    width: 108px;
    height: 48px;
    line-height: 47px;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
    border-bottom: 0px;
    z-index: 1;
    background-color: #fff;
    text-indent: 10px;
}
.conditionBtnListBody{
    position: relative;
    /*min-height: 276px;*/
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
}

/*筛选条件 begin*/
.dis-search{width: 280px;font-size: 12px !important;}
.dis-search-input{line-height:2 !important;font-size: 12px !important;float: left;width: 74%;height: 34px;margin-top: 1px;border: 1px solid #e0e0e0;font-size: 12px;padding-top: 4px;padding-left: 12px;}
.dis-search-input-btn{cursor:pointer;font-size: 12px !important;float: left;width: 26%;background-color: #009edd;height: 36px;line-height:36px;border: 1px solid #e0e0e0;padding-left: 9px;margin-left: -1px;color: #fff;}
.dis-search-tip{display: inline-block;color: #888;line-height: 2;padding: 6px 28px;}

.condition-body{
	border: 1px solid #E0E0E0; 
	margin-top: 10px; 
}
.condition-body-list{
    width: 100%;
    float: left;
    margin-bottom: 14px;
}
.condition-body-list-title{
    text-align: right;
    width: 64px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.condition-input-text{
    width: 120px;
    height: 24px;
    line-height: 24px;
    padding-left: 4px;
    margin-top: -2px;
}
.condition-text-one{
    margin-left: 6px;
    margin-right: 6px;
}
.condition-btn{
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    /*color: #444444;*/
    margin-right: 6px;
    margin-bottom: 4px;
    cursor: pointer;
}
.condition-btn-selected{
    background-color: #009edd;
    color: #fff;
    cursor: default;
}

.condition-btn-too-icon{
    position: absolute;
    top: 8px;
    right: 6px;
    background-image: url("../../../img/index/y.png");
    width: 7px;
    height: 7px;
}
/*筛选条件 end*/

/*弹出框 begin*/
.ZBSetUp-drag-middle{
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 30px;
}
.BSetUp-col{
    padding-right: 0px;
    padding-left: 0px;
}
.BSetUp-line{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.BSetUp-text-line{
    color: #888888;
    text-align: left;
    margin-bottom: 8px;
}
.BSetUp-text-last-line{
    margin-bottom: 30px;
}
.color-div{
    width: 12px;
    height: 12px;
    margin-top: 6px;
}
.green-color-div{
    background-color: #5ab700;
}
.orange-color-div{
    background-color: #eda100;
}
.BSetUp-text-one{
    margin-top: 3px;
    margin-left: 6px;
}
.BSetUp-input{
    width: 58px;
    height: 24px;
    padding-left: 8px !important;
    margin-left: 8px;
    font-size: 12px !important;
}
.BSetUp-text-two{
    margin-top: 3px;
    margin-left: 12px;
}

/*.drag-middle-C{*/
    /*margin-top: 5px;*/
/*}*/
.BSetUp-line-two{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.BSetUp-line-three{
    border-bottom: 1px dashed #e8ecf0;
}
.CSetUp-text-one{
    margin-top: 6px;
}
.CSetUp-select{
    margin-top: 4px;
    margin-left: 8px;
    width: 132px;
    height: 24px;
}
.CSetUp-text-two{
    width: 100%;
    text-align: left;
    color: #888888;
    padding-top: 8px;
    padding-bottom: 20px;
}
.CSetUp-text-checkbox{
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 2px;
    cursor: pointer;
}
/*弹出框 end*/

.pieChart{height: 320px;}
.pieChartText{text-align: left; overflow: auto; padding: 10px;}
.pieChartText table{height: 314px;}
.pieChartText table td{vertical-align: middle}
.pieChartText table td .legend{margin: 5px 0px;}
.pieChartText table td .legend label{width: 10px;height: 10px; margin-right: 3px;}

/*media begin*/
@media (max-width: 680px) {
    .condition-body-list-title {width: 100%;text-align: left;}
    .condition-bottom{padding-left: 0px;}
    .condition-text-one{display: none;}
    .condition-input-text-too{clear: both;margin-top: 6px;}

    .conditionBtn{top: -65px;left: -11px;border-bottom: 1px solid #e0e0e0;}
    .conditionBtnListBody{margin-top: 110px;}
    .dis-search{top: -115px;}
}
/*media end*/

#manpowerInYearModal .modal-dialog{
    width:900px;
}
#manpowerInYearModal .modal-dialog>.modal-content>.modal-body{
    min-height: 450px;
}

#feeInputInYearModal .modal-dialog{
    width:900px;
}
#feeInputInYearModal .modal-dialog>.modal-content>.modal-body{
    min-height: 450px;
}

#manpowerPartInYearModal .modal-dialog{
    width:900px;
}
#manpowerPartInYearModal .modal-dialog>.modal-content>.modal-body{
    min-height: 450px;
}

#participateProjectModal .modal-dialog{
    width:900px;
}
#participateProjectModal .modal-dialog>.modal-content>.modal-body{
    min-height: 450px;
}
#participateProjectModal .tab-content{
    padding:15px 1px;
}
#participateProjectModal .tab-content .col-xs-12{
    padding: 0;
}
.customBtn{
	cursor: pointer; 
	width: 50px; 
	height: 25px; 
	line-height:25px; 
	color: white; 
	background-color: #1A9FF3; 
	text-align: center; 
	float: left;
}
.clearBtn{
	cursor: pointer; 
	width: 50px; 
	height: 25px; 
	line-height:25px; 
	color: black; 
	background-color: #FBFBFB; 
	text-align: center; 
	float: left;
	margin-left: 20px;
	border: 1px solid #E0E0E0;
}

/*盈亏项目明细 弹出框 -- began*/
#profitLossProjectDetailModal .modal-dialog{
	width: 850px;
}
#profitLossProjectDetailModal .modal-body .span-weight{
    font-weight: bolder; 
    font-size: 15px;
}
#profitLossProjectDetailModal .tab-content{
    padding:15px 1px;
}
#profitLossProjectDetailModal .tab-content .col-xs-12{
    padding: 0;
}
#profitLossProjectDetailModal .tab-content .table-thead-tr{
	background: #ffffff;
}
#profitLossProjectDetailModal .tab-content .table-thead-tr th{
	text-align: center;
}
#profitLossProjectDetailModal .tab-content .thead-tr-th-first{
	width: 30%; 
}
#profitLossProjectDetailModal .tab-content .thead-tr-th{
	width: 15%; 
}
#profitLossProjectDetailModal .tab-content .thead-tr-th-last{
	width: 25%; 
}
#profitLossProjectDetailModal .tab-content .tbody-tr-td-first{
	text-align: left;
}
#profitLossProjectDetailModal .tab-content .tbody-tr-td{
	text-align: center;
}
/*盈亏项目明细 弹出框 -- end*/

/*盈亏金额明细 弹出框 -- began*/
#profitLossAmountDetailModal .modal-dialog{
	width: 850px;
}
#profitLossAmountDetailModal .modal-body .span-weight{
    font-weight: bolder; 
    font-size: 15px;
}
#profitLossAmountDetailModal .tab-content{
    padding:15px 1px;
}
#profitLossAmountDetailModal .tab-content .col-xs-12{
    padding: 0;
}
#profitLossAmountDetailModal .tab-content .table-thead-tr{
	background: #ffffff;
}
#profitLossAmountDetailModal .tab-content .table-thead-tr th{
	text-align: center;
}
#profitLossAmountDetailModal .tab-content .thead-tr-th-first{
	width: 30%; 
}
#profitLossAmountDetailModal .tab-content .thead-tr-th{
	width: 15%; 
}
#profitLossAmountDetailModal .tab-content .thead-tr-th-last{
	width: 25%; 
}
#profitLossAmountDetailModal .tab-content .tbody-tr-td-first{
	text-align: left;
}
#profitLossAmountDetailModal .tab-content .tbody-tr-td{
	text-align: center;
}
/*盈亏金额明细 弹出框 -- end*/
#projectTypeLegend{
	position: absolute;
}
/*jqgrid标题行自动换行*/
th.ui-th-column div{
	white-space:normal !important;
	height:auto !important;
	padding:5px;
}
.textInput{
	height:30px; 
	line-height:30px;
}

/* 数据导入 began */
#page-three .bottom-div{
	width: 100%;
    height: 260px;
    border: 1px solid #e0e0e0;
}
#page-three .div-three-title{
	line-height: 40px;
}
#page-three .ct-col-line{
	padding-top: 10px;
}
#page-three .title-font-weight{
	font-size: 15px; 
	font-weight: bolder; 
}
#page-three .upload-radio-cursor{
	cursor: default;
}
#page-three .upload-radio-padding{
	padding-left: 0px;
}
#page-three .explain-style{
	padding: 10px;
}
#page-three .hyperlink-style{
	cursor: pointer; 
	color: #00f; 
	text-decoration: underline;
}
#page-three .display-none{
	display: none;
}
#page-three .div-bottom-line{
	border-bottom: dashed 1px #ccc;
}
#page-three .checkbox-date-first{
	width: 60px;
}
#page-three .checkbox-date-second{
	width: 100px;
}
#page-three .btn-style-center{
	text-align: center;
}
#page-three .btn-style-width{
	width: 400px;
}
#page-three .span-font-warning{
	color: #f00;
}
#page-three .span-font-success{
	color: #00f;
}
#importDataTemplate .modal-content{
	width: 400px;
	height: 200px;
}
#importDataTemplate .modal-content .modal-body-p{
	padding: 20px;
}
#formalErrorTable, #updateAndDeleteTipsTable{
	margin-top: 10px;
}
#formalErrorTable .table-thead-tr, #updateAndDeleteTipsTable .table-thead-tr{
	background: #ffffff;
}
#formalErrorTable .importErrorTd, #updateAndDeleteTipsTable .importInfoTr .importInfoTd{
	color: #f00;
}
/* 数据导入 end */
.ui-jqgrid-hdiv .ui-jqgrid-htable{
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.ct-glyphicon-plus{
    background-image: url("../../../img/index/ct-glyphicon-plus.png");
    width: 9px;
    height: 9px;
    margin-left: 2px;
    margin-top: 6px;
}
.ct-glyphicon-minus{
    background-image: url("../../../img/index/ct-glyphicon-minus.png");
    width: 9px;
    height: 9px;
    margin-left: 2px;
    margin-top: 6px;
}
.condition-bottom{
	white-space: nowrap; 
	font-size: 15px;
}
.continue-btn{
	border: 1px solid #808080;
	background-color: #E0E0E0;
	border-radius: 3px;
	cursor: pointer;
	width: 100px;
	height: 25px;
	text-align: center;
	float: left;
}
.float-left{
	float: left;
}